.santa-search-form {
  width: 80%;
}

.santa-search {
  background-color: rgba(255, 255, 255, 0.264);
  border: 2px solid white;
  border-radius: 60px;
  height: 55px;
  font-size: 32px;
  font-weight: 600;
  width: 100%;
  padding-left: 25px;
  color: white;
}

input::placeholder {
  color: white;
}
